* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://i.pinimg.com/564x/08/5b/42/085b42865faef297afd90a70c930d925.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow-x: hidden; 
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 5rem; 
    min-height: 100vh;
}

#heart {
    position: relative;
    width: 110px;  
    height: 110px; 
    margin-bottom: 40px; 
}

#heart img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    transition: opacity 1s ease-in-out;
}
.eyes {
    width: 100%;         
    max-width: 200px;      
    height: auto;         
    display: block;        
    margin: 20px auto 0;  
    border-radius: 15px;   
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    margin-bottom: 20px;

    mask:
   radial-gradient(at 70% 31%,#000 29%,#0000 30%),
   radial-gradient(at 30% 31%,#000 29%,#0000 30%),
   linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
}

.texto-carta {
    width: 85%; 
    max-width: 400px; 
    text-align: center;
    color: white; 
    font-family: "Dancing Script", cursive;
    font-size: 1.4rem; 
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.4); 
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.texto-carta p{
    color: rgb(170, 210, 239);
}
.caixa-principal {
    width: 85%;
    max-width: 450px;
    text-align: center;
    color: white;
    font-family: "Dancing Script", cursive;
    font-size: 1.2rem;
    line-height: 1.6;
    
    background: rgba(0, 0, 0, 0.3); 
    padding: 30px 20px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    
    margin-bottom: 50px;
}
.caixa-principal h1 {
    color: #fff; 
    font-family: "Dancing Script", cursive;
    text-shadow: 0 0 5px #ff4d6d, 0 0 10px #ff4d6d, 0 0 20px #ff4d6d;
    animation: brilhar 2s linear infinite alternate;
}

@keyframes brilhar {
    from {
        text-shadow: 0 0 5px #ff4d6d, 0 0 10px #ff4d6d;
        transform: translateY(0);
    }
    to {
        text-shadow: 0 0 10px #ff4d6d, 0 0 20px #ff4d6d, 0 0 30px #ff85a1;
        transform: translateY(-3px); 
    }
}

@keyframes heartFadeInOut {
    0% { opacity: 1; transform: translateX(-50%) scale(1); }
    100% { opacity: 0.5; transform: translateX(-50%) scale(1.1); }
}

#heart img.top { 
    animation: heartFadeInOut 1s infinite alternate ease-in-out;
}